/* Custom Properties */
:root {
  --fuente: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  --colorBlackJack: goldenrod;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente);
  font-size: 1.6rem;
  background-image: url(../assets/img/table21.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgba(0, 100, 0, 0.8);
}

h1,
h2 {
  margin: 0;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.content h1 {
  text-align: center;
  padding: 2rem;
  color: var(--colorBlackJack);
  font-size: 3rem;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn--danger {
  background-color: #dc3545;
  color: white;
}

.btn--primary {
  background: var(--colorBlackJack);
  color: #016f32;
}

.btn--danger:hover,
.btn--primary:hover {
  color: black;
}

.altura {
  height: 150px;
}

.flex h2 {
  text-align: center;
  margin-top: 1rem;
  color: #fff;
}

.cards-player,
.cards-crupier {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;
 
  
}

.card {
  position: relative;
  width: 75px;
  left: 110px;
  margin-left: -45px;
}



